.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(218, 217, 217); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080ec; 
}


.box {
  float: left;
  background-color: antiquewhite;
  border: 1px solid blue;
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
}
.dragon-ball-ghost {
}
.dragon-ball-child {
}
.ball {
  touch-action: none;
  position: relative;
  background-color: orange;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.ball-container {
  display: flex;
  background-color: white;
  width: 100%;
  height: 10em;
  border: 1px solid black;
  bottom: 0;
  margin-top: 100px;
  justify-content: space-between;
}

.ball-wrapper {
  float: left;
}
.background-15-minute {
  height: 24px;
  box-sizing: border-box;
  border-right: 1px solid #dadada;
}
.schedule-background {
  width: 80%;
  margin-left: auto;
  position: absolute;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: white;
}

.background-week {
  width: 14.28%;
  box-sizing: border-box;
  background-color: #f6f9ff;
  float: left;
}
.background-hour {
  box-sizing: border-box;
  /* border-bottom: 1px solid #6a6eff; */
}

.schedule-container {
  position: absolute;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.schedule-app-container{
  height: 90vh;
  margin-left: auto;
  width: 80%;
  overflow: scroll;
  margin-right: auto;
  
}
.schedule-app-top{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  position: absolute;
  overflow: scroll;
}

.schedule-app-top{
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


.schedule-app {
  margin-left: auto;
  margin-right: auto;
  height: 2400px;
  overflow: hidden;
  border-radius: 10px;
}
.schedule-app-week-marker-container{
  width: 92%;
  background-color: #2d2d2d;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.schedule-app-gmc{
  width: 8%;
  height: 45px;
  background-color: #ecececc2;
  max-width: 70px;
  float: left;
}

.schedule-app-week-marker{
  float: left;
  font-size: 10px;
  color: white;
  width: 14.28%;
  box-sizing: border-box;
  padding-top: 6px;
  text-align: center;
  border-left: 1px solid white;
}

.schedule-app-week-marker h1{
  text-align: center;
  font-size: 12px;
}

.week-container {
  background-color: #ffffff52;
  width: 14.28%;
  position: absolute;
  box-sizing: border-box;
}
.event {
  border-radius: 0.3em;
  font-size: 0.8em;
  color: white;
  border: 1px solid #ffffff;
  background-color: #1739ffc2;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  width: 70px;
  position: absolute;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.event p {
  margin: 0;
}

.schedule-hour-marker-container {
  background-color: #ececec;
  width: 8%;
  float: left;
  height: 2305px;
  max-width: 70px;
  padding-top: 45px;
}
.schedule-hour-marker {
  height: 96px;
  background-color: #5878d200;
  border-bottom: 1px solid #757dff;
  box-sizing: border-box;
  padding-top: 85px;
}

.schedule-hour-marker p {
  background-color: #ececec;
  box-sizing: border-box;
  margin: 0;
  font-size: 12px;
  padding-left: 8px;
  width: 25px;
}

.schedule-background {
  width: 92%;
  position: relative;
  display: flex;
  float: left;
  justify-content: center;
  background-color: white;
  padding-top: 45px;
}
